/*shéma explicatif oraganisation d'une page*/
/*
Header
	ttx
	Nav
Article
	Aside
		Section
	Footer
*/

	/*****INFLUENCE LA PAGE ENTIERE*****/
html{
	scroll-behavior: smooth;
}
body {
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#conteneur_grid {
	display: grid;
	grid-template-columns: 100vw ;/*une seul colone*/
	grid-template-rows: 20vh 80vh ;/*deux lignes, header et article*/
	grid-template-areas:
		"etiq_header"
		"etiq_aside "
}
img:hover{
	opacity: 60%;
}

	/******INFLUENCE LE HEADER******/
header {
	padding: 0;
	background:linear-gradient(#c19780 60%, whitesmoke);
	grid-area: etiq_header;
	text-align: center;
	min-height: 20vh;
}
#en-tête{
	display: flex;
	flex-wrap: wrap;/*alignement des elements dans la flexbox*/
	justify-content: center;
}
#photo{
	background-image: url("Images/cc.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	border: 1px #54468f solid;
	width: 5vw;
	height: 5vw;
	margin: 0.5vh;
	position: relative;
}
header a:hover{
	color:red;
}
header h1{
	font-family: Snell Roundhand, Apple Chancery, Brush Script Std, Brush Script MT;
	font-style: italic;
	font-style: oblique;
	font-size: x-large;
	color: #030a3d;
	pading: 0 0 0 0 ;
}
/*****INFLUENCE LE NAV DANS LE HEADER*****/
nav {
	font-family: Snell Roundhand, Apple Chancery, Brush Script Std, Brush Script MT;
	font-size: x-large;
	color: black;
	text-align: center;
	background:url("Images/nav.jpg");
	background-position: 50%;
	border-radius: 10px;
	border: 2px #54468f solid;
	max-width: 900px;
}
nav	p{
	display: inline;
}
nav a{
	color: black;
}
nav{
	margin: 0vh auto 0vh auto;
	padding: 0;
}
nav img{
	max-height: 6vh;
	margin: 0;
}

	/******INFLUENCE LE ASIDE******/
aside {
	grid-area: etiq_aside;
	padding: 0;
	overflow: scroll;/*pour scroller*/
	text-align: center;
	min-height: 80vh;
}
aside a{
	color: #340059;
}
aside a:hover{
	color: #54468f;
	font-weight: bold;
}
/******INFLUENCE L'ARTICLE DANS L'ASIDE******/
article {
	font-style: italic;
	font-size: medium;
	margin: 0 0.3vw 0 0.3vw;
	padding: 0vh 3vw 0vh 3vw;
	min-height: 70vh;
	color: #030a3d;

}
/******INFLUENCE LES SECTIONS DANS L'ARTICLE DANS L'ASIDE******/
article h2 {
	background: #c19780;/*radial-gradient(#9f7259, whitesmoke);*/
	text-align: center;
	color: #030a3d;
	position: sticky;
	font-size: large;
	top: -1px;
	border-radius: 20% 20% / 20% 20%;
	border: 2px #54468f solid;
  	z-index: 10;
}
/**BOITE PHOTO PERCENT**/
#Percent{
	display: flex;
	flex-wrap: wrap;/*alignement des elements dans la flexbox*/
	justify-content: center;
	height: 50vh;
	border: 5px black; solid;
	position: sticky;
}
#un{
	opacity: 1;
	border-radius: 5px;
	border: 5px #54468f double;
	width: auto;
	height: 50%;
}
/*pour la page fromations*/
#Spécialités h3{
	font-weight: regular;
	text-align: left;
	text-indent: 2em;
}
#Spécialités h4{
	font-weight: light;	
	text-align: left;
	text-indent: 4em;
}
#Spécialités p{
	text-align: left;
	text-indent: 6em;
}
article h5{
	font-weight: bold;
	color: black;
	font-style: oblique;
}
#Spécialités h5 a{
	color: Black;
}
section #D img{
	width: 25vw;
	border: 2px whitesmoke solid;
	margin: 0vh 10vw 0vh 10vw;
}
/****POUR LES BOITES PAGE HOME****/
#Flexbox{
	display: flex;
	flex-wrap: wrap;/*alignement des elements dans la flexbox*/
	justify-content: center;
	position: relative;
  	z-index: 5;
}
#Flexbox_item{
	background: radial-gradient(whitesmoke 50%, #c19780);/*#9f7259*/
	border: #54468f 1px solid;
	padding:auto ;
	margin: 1vw;
	border-radius: 10px;
	opacity: 0.8;
	max-width: 30vw;
	min-width: 20vw;
}

#Flexbox_item:hover{
	background: radial-gradient(whitesmoke 5%, #c19780);
	border: #54468f 3px solid;
	opacity: 1;
}
/*carte google map*/
iframe{
	border-radius: 70px;
	max-width: 35vw;
	max-height: auto;
	margin: 0vh 5vw 0vh 5vw;
}
#flèche_haut{
	width: 5vw;
	height: auto;
	position: absolute;
	bottom: 5vh;
	left: 1vw;
}
/******POUR LES SKILLS BARS******/
/*info sur: https://codepen.io/aashu11267/pen/wvKOjmK*/
.bar{ /*style the bar*/
	background-color: grey;
	display: block;
	height: 1vh;
	width: 90%;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	margin: 2px auto 2px auto;
}
.bar span{ /*style the span tag*/
	height: 1vh;
	float: left;
	background-color: Sienna;
}
/******NOTES BREVET ET BAC******/
	/***NOTES BREVET***/
		/*Notes français*/
		.Notes_br_fr{ /*set skills and animation of Notes*/
			width: 55%;
			animation: Notes 2s;
		}
		@keyframes Notes_br_fr{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 55%;
			}
		}
		/*Notes Mathématiques*/
		.Notes_br_ma{ /*set skills and animation of Notes*/
			width: 61%;
			animation: Notes 2s;
		}
		@keyframes Notes_br_ma{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 61%;
			}
		}
		/*Notes Histoire, géo, EMC*/
		.Notes_br_hgemc{ /*set skills and animation of Notes*/
			width: 50%;
			animation: Notes 2s;
		}
		@keyframes Notes_br_hgemc{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 50%;
			}
		}
		/*Notes Sciences*/
		.Notes_br_sc{ /*set skills and animation of Notes*/
			width: 85%;
			animation: Notes 2s;
		}
		@keyframes Notes_br_sc{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 85%;
			}
		}
		/*Notes Soutenance oral*/
		.Notes_br_o{ /*set skills and animation of Notes*/
			width: 94%;
			animation: Notes 2s;
		}
		@keyframes Notes_br_o{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 94%;
			}
		}
		/*Notes socle commun*/
		.Notes_br_comm{ /*set skills and animation of Notes*/
			width: 80%;
			animation: Notes 2s;
		}
		@keyframes Notes_br_comm{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 80%;
			}
		}
	/***Notes BAC***/
		/*Notes Français ecrit*/
		.Notes_ba_fre{ /*set skills and animation of Notes*/
			width: 65%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_fre{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 65%;
			}
		}
		/*Notes Français oral*/
		.Notes_ba_fro{ /*set skills and animation of Notes*/
			width: 75%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_fro{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 75%;
			}
		}
		/*Notes Philosophie*/
		.Notes_ba_ph{ /*set skills and animation of Notes*/
			width: 35%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_ph{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 35%;
			}
		}
		/*Notes Grand Oral*/
		.Notes_ba_go{ /*set skills and animation of Notes*/
			width: 95%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_go{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 95%;
			}
		}
		/*Notes NSI*/
		.Notes_ba_nsi{ /*set skills and animation of Notes*/
			width: 90%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_nsi{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 90%;
			}
		}
		/*Notes SVT*/
		.Notes_ba_svt{ /*set skills and animation of Notes*/
			width: 60%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_svt{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 60%;
			}
		}
		/*Notes Histoire géographie */
			/*Première*/
			.Notes_ba_hg1{ /*set skills and animation of Notes*/
				width: 79.5%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_hg1{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 79.5%;
				}
			}
			/*Terminale*/
			.Notes_ba_hgT{ /*set skills and animation of Notes*/
				width: 67%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_hgT{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 67%;
				}
			}
		/*Notes Enseignement Moral et Civique*/
			/*Note 1ère*/
			.Notes_ba_emc1{ /*set skills and animation of Notes*/
				width: 80%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_emc1{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 80%;
				}
			}
			/*Note Terminale*/
			.Notes_ba_emcT{ /*set skills and animation of Notes*/
				width: 79%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_emcT{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 79%;
				}
			}
		/*Notes Anglais*/
			/*Note 1ère*/
			.Notes_ba_ang1{ /*set skills and animation of Notes*/
				width: 43.5%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_angT{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 43.5%;
				}
			}
			/*Note Terminale*/
			.Notes_ba_angT{ /*set skills and animation of Notes*/
				width: 44.5%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_angT{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 44.5%;
				}
			}
		/*Notes Espagnol*/
			/*Note 1ère*/
			.Notes_ba_esp1{ /*set skills and animation of Notes*/
				width: 59.5%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_esp1{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 59.5%;
				}
			}
			/*Note terminale*/
			.Notes_ba_espT{ /*set skills and animation of Notes*/
				width: 56%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_espT{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 56%;
				}
			}
		/*Notes Enseignement Scientifique*/
			/*Note 1ère*/
			.Notes_ba_es1{ /*set skills and animation of Notes*/
				width: 61%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_es1{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 61%;
				}
			}
			/*Note Terminale*/
			.Notes_ba_esT{ /*set skills and animation of Notes*/
				width: 54.5%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_esT{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 54.5%;
				}
			}
		/*Note EPS*/
		.Notes_ba_eps{ /*set skills and animation of Notes*/
			width: 75%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_eps{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 75%;
			}
		}
		/*Note HGGSP*/
		.Notes_ba_hggsp{ /*set skills and animation of Notes*/
			width: 70%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_hggsp{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 70%;
			}
		}
		/*Notes artsplastiques*/
			/*Notes 1ère*/
			.Notes_ba_arts1{ /*set skills and animation of Notes*/
				width: 82%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_arts1{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 82%;
				}
			}
			/*Note Terminale*/
			.Notes_ba_artsT{ /*set skills and animation of Notes*/
				width: 82.5%;
				animation: Notes 2s;
			}
			@keyframes Notes_ba_artsT{ /*animate Notes skills*/
				0%{
					width: 0%;
				}

				100%{
					width: 82.5%;
				}
			}
		/*Notes mathématiques compléménetaires*/
		.Notes_ba_ma{ /*set skills and animation of Notes*/
			width: 65%;
			animation: Notes 2s;
		}
		@keyframes Notes_ba_ma{ /*animate Notes skills*/
			0%{
				width: 0%;
			}

			100%{
				width: 65%;
			}
		}

/******INFLUENCE LE FOOTER DANS L'ASIDE******/
footer {
	background: linear-gradient(to top,#9f7259 60%, whitesmoke);
	text-align: center;
	font-size: x-small;
	padding-top: 0;
	margin: 0;
	height: 10vh;
	min-height: 10vh;
}
footer p{
	position: relative;
	bottom: 0px;
	padding: 3vh;
}
